################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/ide/vs/.vs/Engine/v17/Browse.VC.db
/ide/vs/.vs/Engine/v17/Solution.VC.db
/ide/vs/.vs/GC Engine/v17/Solution.VC.db-wal
/ide/vs/.vs/GC Engine/v17/Solution.VC.db-shm
/ide/vs/.vs/GC Engine/v17/Solution.VC.db
/ide/vs/.vs/GC Engine/v17/Browse.VC.db
/ide/vs/.vs/GC Engine/v17/Browse.VC.db-shm
/ide/vs/.vs/GC Engine/FileContentIndex/2587f4ab-bd7a-494f-8d62-530d1233be20.vsidx
/ide/vs/.vs/GC Engine/v17/ipch/AutoPCH/1f6c1729d29ef0b4/MAIN.ipch
/ide/vs/.vs/GC Engine/v17/Browse.VC.opendb
/ide/vs/Render/Build/Debug/intermediate/Render.pch
ide/vs/.vs/GC Engine/v17/ipch/4c9207d09960a4dd.ipch
ide/vs/.vs/GC Engine/v17/ipch/AutoPCH/9381bb877892019c/MAIN.ipch
ide/vs/.vs/GC Engine/FileContentIndex/443ae7c0-2fd5-49e9-9c70-60623d4562b8.vsidx
